<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.simplepois"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/app_name">
        </activity>

        <provider
            android:name=".data.PoiProvider"
            android:authorities="com.example.simplepois.provider"
            android:enabled="true"
            android:syncable="true"
            android:exported="false">
        </provider>
    </application>

</manifest>
